@using FighterApp.Controllers;

@using System;


@{
    Layout = "_Layout";
}

@section head
{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <link rel="stylesheet" href="~/css/gamepage.css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/img/touch_icon.png"/>
    <link media="only screen and (max-device-width: 480px)" href="small-device.css" type= "text/css" rel="stylesheet"/>
}

@functions{
    //set up correct id's for the playerBox divs.
    public int getFighterId(string dataKey)
    {
        string name = ViewData[dataKey] as string;
        int i = 0;
        foreach (var en in Enum.GetNames(typeof(Fighter_id)))
        {
            string HeroName = "";
            for (int j = 0; j < en.Length; j++)
            {
                HeroName += en[j];
            }
            if (name == HeroName)
            {
                break;
            }
            i++;
        }
        return i;
    }

    public string GetCharacterName(int id)
    {
        string name = Enum.GetName(typeof(Fighter_id), id);
        return name;
    }

    public string TopThreePlayed()
    {
        Fighter[] fighters = ViewData["TopThreePlayed"] as Fighter[];
        string retstring = "";
        for (int i = 0 ; i<fighters.Length; i++)
        {
            retstring += $"{i+1}. {fighters[i].name} ({fighters[i].timesPlayed})|";
        }
        return retstring;
    }
    
    public string TopThreeWins()
    {
        Fighter[] fighters = ViewData["TopThreeWins"] as Fighter[];
        string retstring = "";
        for (int i = 0; i<fighters.Length;i++)
        {
            //calculate win percentage first
            float winPerc = fighters[i].timesWon / fighters[i].timesPlayed;
            retstring += $"{i+1}. {fighters[i].name} ({winPerc.ToString("P0")})|";
            
        }
        return retstring;
    }

    public string GetWinPercentageP1()
    {
        string name = (string)ViewData["PlayerOne"];
        int played = (int)ViewData["id1_played"];
        int won = (int)ViewData["id1_won"];
        int lost = (int)ViewData["id1_lost"];
        System.Console.WriteLine($"{name}   |p:{played}|  w:{won}     l:{lost}");
        if (won == 0 || played == 0)
        {
            return  "0 %" ;
        }

        float percentage = (float)won/played;
        string returnString = percentage.ToString("P0");
        return returnString;
    }

     public string GetWinPercentageP2()
    {
        string name = (string)ViewData["PlayerTwo"];
        int played = (int)ViewData["id2_played"];
        int won = (int)ViewData["id2_won"];
        int lost = (int)ViewData["id2_lost"];
        System.Console.WriteLine($"{name}   |p:{played}|  w:{won}     l:{lost}");
        if (won == 0 || played == 0)
        {
            return "0 %";
        }

        float percentage = (float)won/played;
        string returnString = percentage.ToString("P0");
        return returnString;
    } 
}

<div class="container">
    <div id="@getFighterId("PlayerOne")" class="playerBox1">
        <div class="stats p1">WIN percentage: @GetWinPercentageP1()</div>
        <button onClick="InputWinner(@getFighterId("PlayerOne"), @getFighterId("PlayerTwo"))">
        <a href="/sfv">
        <img src="@ViewData["PlayerOneAvatar"]">
        </button>
        </a> 
    </div>
    <div id="@getFighterId("PlayerTwo")" class="playerBox2">
        <button onClick="InputWinner(@getFighterId("PlayerTwo"), @getFighterId("PlayerOne"))">
        <a href="/sfv">
            <img src="@ViewData["PlayerTwoAvatar"]">
        </button>
        </a> 
        <div class="stats p2">WIN percentage: @GetWinPercentageP2()</div>
    </div>
</div>
<div class="GeneralStats">
    <div class="top3winrate"></div>
    <div class="top3played"></div>
</div>

<script type="text/javascript">
    function InputWinner(id1, id2)
    {
        var winUrl = "http://192.168.100.17:5000/sfv/winner/";
        var loseUrl = "http://192.168.100.17:5000/sfv/loser/";
        winUrl += id1;
        loseUrl += id2;
        console.log("Winner url: " + winUrl);
        console.log("Loser url: " + loseUrl);
        $.ajax(winUrl, {
            type: "POST",
        })
        $.ajax(loseUrl, {
            type: "POST",
        });

        
    }
    (function ()
    {
        var topThreeWins = "@TopThreeWins()";
        let topThreePlayed = "@TopThreePlayed()";
        let winners = topThreeWins.split("|");
        let playeds = topThreePlayed.split("|");
        console.log(winners);
        
        for (var i = 0 ; i < 3; i++)
        {
            var html = $(".top3winrate").html()
            html += winners[i] + "<br>"
            $(".top3winrate").html(html); 
        }
        for (var i = 0 ; i < 3; i++)
        {
            var html = $(".top3played").html()
            html += playeds[i] + "<br>"
            $(".top3played").html(html); 
        }

    })();
</script>
