@using FighterApp.Controllers;
@{
    Layout = "_Layout";
}

@section head
{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <link rel="stylesheet" href="~/css/index.css"/>
}

@{
    ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<input type="text" name="player1" id="player1" value=""/>
<input type="text" name="player2" id="player2" value=""/>
<div class="LeftSide">
@for (var i =0;i<40;i++)
{
    <button id="@Convert.ToInt32((Fighter_id)i)" onClick="AddHeroToGame(this.id)">@Enum.GetName(typeof(Fighter_id),i)</button>
}
</div>
<button class="PostButton" onClick="PostGame()">FIGHT</button>



<p>Use this area to provide additional information.</p>
<p>@DateTime.Now</p>
<p>@Convert.ToInt32(Fighter_id.ChunLi) = chun li</p>
<script>
    var i = 0;
    var ids = [];
    function AddHeroToGame(fighter_Id)
    {
        var wasNew = true;   
        if (ids.find(element => element == fighter_Id)) {console.log("already exists! remove?" ); wasNew = false;}
        if (ids.length <2 && wasNew == true) {ids.push(fighter_Id);}

        console.log(ids.length);        
        if (ids.length == 2)
        {
            console.log("trying to send....");
            //SendPostRequest(ids);
        }
    }

    function PostGame()
    {
        var url = "http://192.168.100.16:5000/SFV/start/{p1}/{p2}";
        console.log("staring game with ids: " + ids[0] + "and"+ ids[1]);
        $.ajax(url.replace("{p1}", ids[0]).replace("{p2}", ids[1]), {type: 'POST'} ).done(function() {console.log("i did it:" + ids[0] + " " + ids[1]);});
        ids = [];
    }



    function SendPostRequest(ids)
    {
        var url = "http://192.168.100.16:5000/SFV/start/{p1}/{p2}";
    }

    @* $('.AddHeroButton').click(function () { *@
        @* console.log("hello"); *@
        @* var fighterId = $('.AddHeroButton')(); *@
        @* console.log(fighterId); *@
        @* console.log(ids.length + " players"); *@
        @* ids.push(fighterId);   *@
    @* }) *@


    @* if (ids.length<1) *@
    @* { *@
        @* var url = "http://192.168.100.16:5000/SFV/start/{p1}/{p2}"; *@
        @* $.ajax(url.replace("{p1}", ids[0]).replace("{p2}", ids[1]), { *@
            @* type: 'POST'  *@
        @* }).done(function() { *@
            @* console.log("posted" + ids[0] + " " + ids[1]); *@
            @* }); *@
    @* } *@
</script>